$icomoon-font-path: 'fonts' !default;

$icon-error: '\e900';
$icon-link2: '\e901';
$icon-add-edit: '\e902';
$icon-photo-mask: '\e903';
$icon-skill: '\e904';
$icon-phone: '\e905';
$icon-people: '\e906';
$icon-email: '\e907';
$icon-warn: '\e908';
$icon-city: '\e909';
$icon-responsibility: '\e90a';
$icon-card: '\e90b';
$icon-edu: '\e90c';
$icon-competition: '\e90d';
$icon-paper: '\e90e';
$icon-interview: '\e90f';
$icon-uniE910: '\e910';
$icon-uniE911: '\e911';
$icon-uniE912: '\e912';
$icon-intention: '\e913';
$icon-requirement: '\e914';
$icon-honor: '\e915';
$icon-uniE916: '\e916';
$icon-uniE917: '\e917';
$icon-dot: '\e918';
$icon-internship: '\e91a';
$icon-phone2: '\e91b';
$icon-add: '\e91c';
$icon-apply-reord: '\e91d';
$icon-apply-reord2: '\e91e';
$icon-position: '\e91f';
$icon-project: '\e920';
$icon-email2: '\e921';
$icon-language: '\e922';
$icon-certificate: '\e923';
$icon-work-show: '\e924';
$icon-Shape-Copy-3: '\e925';
$icon-finger-post: '\e926';
$icon-file-signet: '\e927';
$icon-paper-plane: '\e928';
$icon-shield: '\e929';
$icon-left: '\e92a';
$icon-search: '\e92b';
$icon-link: '\e92c';
$icon-gender: '\e92d';
$icon-download: '\e92e';
$icon-return: '\e92f';
$icon-addJob: '\e930';
$icon-attachment: '\e931';
$icon-Interview: '\e932';
$icon-log: '\e933';
$icon-remarks: '\e934';
$icon-tel-off: '\e935';
$icon-tel-on: '\e936';
$icon-edit: '\e937';
$icon-pencil: '\e938';
$icon-arrow-down: '\e939';
$icon-description: '\e93a';
$icon-lock: '\e93b';
$icon-Combined-Shape-Copy-2: '\e93c';
$icon-right: '\e93d';
$icon-location-fill: '\e93e';
$icon-education: '\e93f';
$icon-workYear: '\e940';
$icon-close: '\e941';
$icon-record: '\e942';
$icon-close-o: '\e943';
$icon-gift: '\e944';
$icon-mobile: '\e958';
$icon-notification: '\ea08';
$icon-checkmark: '\ea10';
$icon-wechat: '\e919';
